.post-title {
    font-family: Poppins, sans-serif;
    font-size: 4.1rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 4rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.post-body {
    white-space: pre-line;
    font-family: Poppins, sans-serif;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
letter-spacing: normal;
line-height: 2rem;
text-transform: none;
color: #98999F;
margin:0;
padding-bottom: 4rem;
}

.page-header-black{
    background: #000;
}
